* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("..//img/download.jpg");
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #9c0707;
    border-radius: 10px;
    background-color: #d4bfbf9d;
    box-shadow: 10px 10px 10px #000000;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #822d2d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #621111;
}

#address-info {
    margin-top: 20px;
    text-align: left;
}